.tasklist {
  padding-top: 2em;
}

.task.done {
  background: lightgreen !important;
}

.task.todo {
  background: lightgoldenrodyellow !important;
}

.description {
  color: slategrey;
  font-style: italic;
}
